@media (min-width: 998px)
{ .container-fluid{padding-left: 5%;padding-right: 5%}
}
/* SMALL SCREENS */
@media only screen and (max-width: 1200px) {
#page-content { min-width: 940px; }
.wrapper { width: 940px; }
.main-content { width: 640px; }
.blog-content { width: 550px; }
#blog-grid .masonry-item { width: 286px; }

}

/* TABLETS ON PORTRAITS */
@media only screen and (max-width: 1023px) {
h1 { font-size: 50px; line-height: 50px; }
h2 { font-size: 28px; line-height: 30px; }
h3 { font-size: 24px; line-height: 35px; }
h4 { font-size: 20px; line-height: 30px; }
h5 { font-size: 18px; line-height: 26px; }
h6 { font-size: 16px; line-height: 22px; }

#page-content { min-width: 740px; }
.wrapper { width: 740px; }
.main-content { width: 100%; float:none; }

#portfolio-single aside { margin-top: 0px; }

.blog-content { width: 650px; }
#blog-grid .masonry-item { width: 220px; }

}


/* Smartphones*/
@media only screen and (max-width: 760px) {
h1 { font-size: 36px; line-height: 74px; }
h2 { font-size: 26px; line-height: 30px; }
h3 { font-size: 22px; line-height: 28px; }
h4 { font-size: 18px; line-height: 24px; }
h5 { font-size: 16px; line-height: 22px; }
h6 { font-size: 15px; line-height: 22px; }

#page-content { min-width: 300px; }
.container-fluid{padding-left: 2%;padding-right: 2%}
.wrapper { width: 300px; }
.main-content { width: 100%; float:none; }
.sm-hidden{display: none !important;}

#portfolio-single aside { border:none; padding-top:0; }

.blog-date { width: 50px; }
.blog-date .date-day { font-size: 40px; line-height: 30px;}
.blog-date .date-month {font-size: 10px; letter-spacing: 0.03em; }
.blog-content { width: 240px; float: right; }
#blog-grid .masonry-item { width: 300px; }

/* Spacings */
.section-title { margin-top: -7px; margin-bottom: 60px; }
.section-inner { padding-top: 60px; }
.horizontalsection .horizontalinner { padding: 60px 0; }
#portfolio-single {  padding-top: 60px; }
.ajax-section #portfolio-single {  padding-bottom: 60px; }
#portfolio-single .portfolio-media { margin-top: 40px; }
#portfolio-single .portfolio-content { margin-top:0; padding-top: 40px; }
.ajax-section { padding-bottom: 60px; }
#ajax-loader .loader-icon { top: 20px!important; }
.close-project { bottom: 70px; }
#blog-grid { margin-bottom: 20px; }
.spacer.spacer-mini { height: 15px; }
.spacer.spacer-small { height: 30px; }
.spacer.spacer-medium { height: 45px; }
.spacer.spacer-big { height: 60px; }

#backtop{display: none}
    .tparrows:before{font-size: 30px}
}
